<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clases.proyecto_poi_arsaga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPOIARSAGA">
        <activity android:name=".Asignar_nueva_tarea"></activity>
        <activity android:name=".Tareas_Entregadas" />
        <activity android:name=".General_Grupos" />
        <activity android:name=".Crear_Grupo" />
        <activity android:name=".Mod_Perfil" />
        <activity android:name=".Registro" />
        <activity android:name=".Log_In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lista_Chats_Grupos" />
        <activity android:name=".Chat_Grupal" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>